@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Readex+Pro:wght@160..700&family=Roboto:wght@100;300;400;500&display=swap');

body
{
    font-family: "Noto Kufi Arabic", sans-serif !important;
    font-weight: 100;
    font-style: normal;
}
